.faqs-box {
  &.active {
    .faqs-box__content {
      opacity: 1;
    }

    .faqs-box__top {
      &::before {
        @include maskImage(url('../images/icons/minus.svg'), contain);
      }
    }
  }

  &__top {
    cursor: pointer;
  }

  &__top {
    display: inline-block;
    margin-bottom: 24px;
    padding-right: 30px;
    position: relative;

    &::before {
      @include pseudoElDefault();
      width: 11px;
      height: 11px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      @include maskImage(url('../images/icons/plus.svg'), contain);
      background-color: var(--color-dark);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: 300ms ease-in;
    z-index: 9;
  }
}