.faqs-box {
  position: relative;
  height: auto;

  &.active {
    .faqs-box__content {
      opacity: 1;
      height: auto;
    }

    .faqs-box__overlay {
      // opacity: 0;
      // visibility: hidden;
    }

    .accordion__content {
      margin-bottom: 18px;
    }

    .faqs-box__button {
      &::before {
        @include maskImage(url('../images/icons/minus.svg'), contain);
      }
    }
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease;
    transition-delay: 350ms;
  }

  &__top {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding-right: 30px;
    position: relative;

    &::before {
      @include pseudoElDefault();
      width: 11px;
      height: 11px;
      top: 53%;
      right: 14px;
      transform: translateY(-50%);
      @include maskImage(url('../images/icons/plus.svg'), contain);
      background-color: var(--color-blue);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: 450ms ease-in;
    z-index: 9;
  }
}