.breadcrumbs {
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 22px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
  }

  &__item {

    position: relative;

    &::after {
      display: block;
      position: absolute;
      content: '/';
      right: -11px;
      width: 5px;
      height: 11px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--color-gray);
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: var(--color-gray);
  }
}