.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 18px;

  @include breakpointsMaxW($bp-576) {
    flex-direction: column;
    gap: 28px;
  }

  &__group {
    max-width: 400px;
    width: 100%;
    height: 50px;

    @include breakpointsMaxW($bp-576) {
      height: 42px;
    }
  }

  &__input {
    border: 1px solid var(--color-blue);
    border-radius: 37px;
    width: 100%;
    height: 100%;
    padding: 12px 30px;
    background-color: var(--color-white);
    transition: 150ms ease;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-blue);
    }

    &:hover {
      background-color: rgba(16, 100, 229, 0.1);
    }

    &:active {
      box-shadow: 0 0 0 1px var(--color-blue);
      background-color: rgba(16, 100, 229, 0.1);
    }
  }

  &__btn {
    height: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.19em;

    @include breakpointsMaxW($bp-576) {
      font-size: 12px;
      max-width: 178px;
      width: 100%;
    }
  }
}