.hero {
  width: 100%;
  font-size: 16px;
  line-height: 1.3;
  z-index: 1;
  max-height: 676px;

  @include breakpointsMaxW($bp-container) {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1260 - 320)));
  }

  &__wrapper {
    width: 100%;
    min-width: 0;
    padding-top: 185px;
    padding-bottom: 140px;
    padding-left: 15px;
    background-color: #DEEEFC;
    background-image: url('../images/content/hero-slider/2.jpg');
    background-repeat: no-repeat;
    background-position: 60% center;
    background-size: contain;

    @include breakpointsMaxW($bp-container) {
      background-position: 215% center;
    }

    @include breakpointsMaxW($bp-991) {
      background-size: cover;
      background-position: 73% 10%;
      padding-top: 130px;
      padding-bottom: 70px;
      padding-left: 0;
    }

    @include breakpointsMaxW($bp-576) {
      background-size: 230%;
      background-position: 63% 26%;
      padding-top: 102px;
      padding-bottom: 55px;
    }
  }

  @include breakpointsMaxW($bp-991) {
    background-position-x: 75%;
  }

  @include breakpointsMaxW($bp-768) {}

  &__title {
    line-height: 45px;
    margin-bottom: 22px;

    @include breakpointsMaxW($bp-991) {
      font-weight: 500;
      font-size: 36px;
      line-height: 45px;

      margin-bottom: 40px;
    }

    @include breakpointsMaxW($bp-576) {
      font-size: 25px;
      line-height: 26px;
      margin-bottom: 27px;
    }

    @include breakpointsMaxW($bp-576) {
      max-width: 225px;
    }
  }

  &__slider {
    height: 100%;
  }

  &__offer {
    max-width: 580px;

    @include breakpointsMaxW($bp-991) {
      max-width: 345px;
    }

    @include breakpointsMaxW($bp-576) {
      max-width: 100%;
    }
  }

  &__name {
    display: inline-block;
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;

    @include breakpointsMaxW($bp-576) {
      max-width: 225px;
    }

    @include breakpointsMaxW($bp-container) {
      line-height: 1;
    }

    @include breakpointsMaxW($bp-991) {
      margin-bottom: 27px;
    }

    @include breakpointsMaxW($bp-576) {
      font-size: 18px;
      margin-bottom: 9px;
    }
  }

  &__text {
    letter-spacing: 0.04em;
    margin-bottom: 31px;

    @include breakpointsMaxW($bp-991) {
      margin-bottom: 36px;
    }

    @include breakpointsMaxW($bp-576) {
      max-width: 225px;
    }
  }

  &__btn {
    max-width: 295px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.04em;

    @include breakpointsMaxW($bp-576) {
      font-size: 12px;
      letter-spacing: 0;
      padding: 12px 35px;
      margin: 0 auto;
    }
  }

  &__numbers {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 24px;

    @include breakpointsMaxW($bp-991) {
      margin-bottom: 12px;
    }

    @include breakpointsMaxW($bp-576) {
      gap: 37px;
    }
  }

  &__number {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    opacity: 0.6;
    position: relative;

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      @include pseudoElDefault();
      width: 18px;
      height: 2px;
      background-color: var(--color-blue);
      top: 50%;
      transform: translateY(-50%);
      right: -38px;

      @include breakpointsMaxW($bp-576) {
        right: -28px;
      }
    }

    &--active {
      opacity: 1;
    }
  }

  .swiper {
    .swiper-wrapper {
      height: 100%;
    }
  }
}