.menu {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.19em;

  @include breakpointsMaxW($bp-991) {
    position: absolute;
    max-width: 450px;
    height: 100%;
    background-color: var(--color-white);

    flex-direction: column;

    display: none;

    .menu__list {
      flex-direction: column;
    }

    .menu__tools {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 33px;
    margin-right: 25px;

    @include breakpointsMaxW($bp-container) {
      gap: 12px;
      margin-right: 12px;
    }
  }

  &__item {
    position: relative;
    // overflow: hidden;
    z-index: 10;

    .submenu {
      position: absolute;
      left: 0;
      bottom: -50px;
      background-color: transparent;
      // opacity: 0;
      // visibility: hidden;
      transition: 250ms;
      transform: translateY(-50px);

      // z-index: -1;
      z-index: 1;

      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }
    }
  }

  &__link {
    transition: 150ms ease;
    position: relative;

    &:hover {
      transform: translateY(-3px);
    }

    &--dropdown {
      padding-right: 18px;

      position: relative;

      &::after {
        @include pseudoElDefault();
        width: 16px;
        height: 8px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include maskImage(url('../images/icons/chevron.svg'), cover);
        background-color: var(--color-dark);
      }
    }

  }
}