.pagination {
  max-width: 325px;
  margin: 0 auto;

  @include breakpointsMaxW($bp-576) {
    max-width: 210px;
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 36px;

    @include breakpointsMaxW($bp-576) {
      gap: 28px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    transition: 150ms ease;

    @include breakpointsMaxW($bp-576) {
      font-size: 14px;
    }

    &:focus {
      outline: 1px solid var(--color-dark);
    }

    &:hover {
      color: var(--color-blue);
    }

    &:active {
      background-color: var(--color-blue-light);
    }

    &--active {
      color: var(--color-blue);
    }

    &--next {
      .icon {
        display: none;
      }

      @include breakpointsMaxW($bp-768) {

        .text {
          display: none;
        }

        .icon {
          display: block;
          width: 12px;
          height: 18px;
          transform: rotate(-90deg);
          @include maskImage(url('../images/icons/chevron.svg'), cover);
          background-color: var(--color-dark);
        }
      }
    }
  }
}