.section-form-submit {
  padding-top: 34px;
  padding-bottom: 26px;
  background-color: var(--color-background);

  &__title {
    text-align: center;
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 22px;
    text-align: center;
  }

  &__form {
    margin: 0 auto;

    .form-submit__input {
      background-color: var(--color-white);
    }

    .form-submit__btn {
      display: block;
      margin: 0 auto;
      max-width: 217px;
      text-align: center;

      background-color: var(--color-blue);

      &:hover {
        color: var(--color--blue);
        background-color: transparent;
      }
    }
  }
}