.faqs {
  padding-top: 26px;
  padding-bottom: 30px;
  background-color: var(--color-blue-light);

  @include breakpointsMaxW($bp-991) {
    padding-top: 16px;
  }

  &__title {
    text-align: center;
    margin-bottom: 43px;

    @include breakpointsMaxW($bp-991) {
      font-size: 36px;
      max-width: 460px;
      margin: 0 auto;
      line-height: 1;
    }

    @include breakpointsMaxW($bp-768) {
      margin-bottom: 26px;
    }
  }

  &__accordions {
    max-width: 530px;
    margin: 0 auto;

    @include breakpointsMaxW($bp-991) {
      max-width: 510px;
    }
  }
}