.number-docs {
  padding-top: 38px;
  padding-bottom: 43px;
  text-align: center;
  background-color: var(--color-background);

  @include breakpointsMaxW($bp-991) {}

  &__wrapper {
    max-width: 490px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    font-weight: 500;
    font-size: 73px;
    line-height: 1;
    margin-bottom: 8px;

    @include breakpointsMaxW($bp-991) {
      font-size: 56px;
      margin-bottom: 5px;
    }
  }

  &__subtitle {
    font-family: $IBMPlexSerif;
    display: inline-block;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px;

    @include breakpointsMaxW($bp-991) {
      font-size: 36px;
      line-height: 1;
      margin-bottom: 10px;
    }
  }

  &__text {
    line-height: 28px;

    @include breakpointsMaxW($bp-991) {
      line-height: 22px;
    }
  }
}