.error {
  padding-top: 110px;
  height: 100vh;

  &__wrapper {
    background-image: url('../images/404.svg');
    
@include background(cover);
    height: calc(100vh - 100px);
    display: flex;
    padding-bottom: 30px;

    @include breakpointsMaxW($bp-576) {
      background-image: url('../images/404-mobile.svg');
      background-position: top center;
    }
  }

  &__offer {
    margin: 0 auto;
    margin-top: auto;
    color: var(--color-white);
    max-width: 530px;
    text-align: center;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    max-width: 178px;
    margin: 0 auto;
    color: var(--color-white);
    border: 2px solid var(--color-white);

    &:focus {
      box-shadow: none;
      border-color: var(--color-black);
    }

    &:hover {
      border-color: var(--color-blue);
    }

    &:active {
      border-color: #0046B0;
    }
  }
}