.tags {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  @include breakpointsMaxW($bp-576) {
    font-size: 12px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;

    @include breakpointsMaxW($bp-576) {
      gap: 13px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
    border-radius: 23px;
    padding: 0 14px;
    height: 24px;
    transition: 150ms ease;

    &:focus {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
    }

    &:hover {
      background-color: var(--color-blue);
      color: var(--color-white);
    }

    &:active {
      background-color: #0046B0;
      transform: scale(0.98);
      color: var(--color-white);
    }

    @include breakpointsMaxW($bp-576) {
      padding: 0 8px;
    }
  }
}