<section class="section-form-submit">
  <div class="container">
    <h2 class="section-form-submit__title section-title">Нет ответа на интересующий вопрос?</h2>
    <p class="section-form-submit__text">Заполни форму и наши менеджеры свяжутся с тобой</p>

    <form class="section-form-submit__form form-submit">
      <div class="form-submit__group">
        <label class="form-submit__label" for="name">Имя*:</label>
        <input class="form-submit__input input-access" type="text" id="name" name="name" placeholder="Иван">
      </div>
      <div class="form-submit__group">
        <label class="form-submit__label" for="mail">Электронная почта*:</label>
        <input class="form-submit__input input-access" type="text" id="mail" name="mail" placeholder="Иван" required>
      </div>
      <div class="form-submit__group">
        <label class="form-submit__label" for="phone">Телефон*:</label>
        <input class="form-submit__input input-access" type="text" id="phone" name="phone" placeholder="Иван" required>
      </div>
      <div class="form-submit__group">
        <label class="form-submit__label" for="message">Сообщение:</label>
        <textarea class="form-submit__input form-submit__input--textarea input-access" name="message" id="message"
          placeholder="введите тут"></textarea>
      </div>
      <button class="form-submit__btn btn" type="submit">Отправить</button>
    </form>

  </div>
</section>