<header class="header">
  <div class="container">
    <nav class="header__wrapper">
      <a class="logo" href="#">
        <img src="images/logo.svg" alt="Логотип">
      </a>

      <div class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <!-- <a class="menu__link menu__link--dropdown" href="tel:0800750643">0 800 750 643</a> -->
            <a class="menu__link menu__link--dropdown" href="#">0 800 750 643</a>

            <ul class="submenu">
              <li class="submenu__item">
                <a class="submenu__link" href="">0 800 750 643</a>
              </li>
              <li class="submenu__item">
                <a class="submenu__link" href="">0 800 750 643</a>
              </li>
            </ul>
          </li>

          <li class="menu__item">
            <a class="menu__link menu__link--dropdown" href="#">Про нас</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Цены</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>

        <div class="menu__tools tools">
          <a class="tools__link btn btn--bordered" href="#">Вход</a>
          <a class="tools__link btn" href="#">Регистрация</a>
          <select name="" id="">
            <option value="РУС">рус</option>
          </select>
        </div>
      </div>

      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <span class="header__toggle-line"></span>
      </button>
    </nav>
  </div>
</header>