<section class="hero">
  <div class="hero__slider swiper">
    <div class="swiper-wrapper">
      <div class="hero__wrapper swiper-slide">
        <div class="container">
          <div class="hero__offer">
            <h1 class="hero__title section-title">Цифровой документооборот в три этапа:</h1>
            <div class="hero__numbers">
              <span class="hero__number hero__number--active">1</span>
              <span class="hero__number">2</span>
              <span class="hero__number">3</span>
            </div>
            <span class="hero__name">Быстрая регистрация</span>
            <p class="hero__text">Мы создали, возможно, самую простую регистрацию. Регистрируйся, получай полный доступ
              к
              сервису и 1000 подписей документов в подарок!</p>
            <button class="hero__btn btn">Попробовать Бесплатно</button>
          </div>
        </div>
      </div>
      <div class="hero__wrapper swiper-slide">
        <div class="container">
          <div class="hero__offer">
            <h1 class="hero__title section-title">Цифровой документооборот в три этапа:</h1>
            <h2 class="hero__name">Быстрая регистрация</h2>
            <p class="hero__text">Мы создали, возможно, самую простую регистрацию. Регистрируйся, получай полный доступ
              к
              сервису и 1000 подписей документов в подарок!</p>
            <button class="hero__btn btn">Попробовать Бесплатно</button>
          </div>
        </div>
      </div>
      <div class="hero__wrapper swiper-slide">
        <div class="container">
          <div class="hero__offer">
            <h1 class="hero__title section-title">Цифровой документооборот в три этапа:</h1>
            <h2 class="hero__name">Быстрая регистрация</h2>
            <p class="hero__text">Мы создали, возможно, самую простую регистрацию. Регистрируйся, получай полный доступ
              к
              сервису и 1000 подписей документов в подарок!</p>
            <button class="hero__btn btn">Попробовать Бесплатно</button>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>