<section class="page-faqs">
  <div class="container">
    <h2 class="page-faqs__title section-title">Популярные вопросы и ответы на них</h2>

    <div class="page-faqs__box faqs-box">
      <div class="faqs-box__top">
        <button class="faqs-box__button" type="button">Популярные вопросы</button>
      </div>
      <div class="faqs-box__text">
        Ответов на вопросы <span>6</span>
      </div>
      <div class="faqs-box__content">
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а нарезают
            треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-faqs__box faqs-box">
      <div class="faqs-box__top">
        <button class="faqs-box__button" type="button">Популярные вопросы</button>
      </div>
      <div class="faqs-box__text">
        Ответов на вопросы <span>6</span>
      </div>
      <div class="faqs-box__content">
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а нарезают
            треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-faqs__box faqs-box">
      <div class="faqs-box__top">
        <button class="faqs-box__button" type="button">Популярные вопросы</button>
      </div>
      <div class="faqs-box__text">
        Ответов на вопросы <span>6</span>
      </div>
      <div class="faqs-box__content">
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а нарезают
            треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-faqs__box faqs-box">
      <div class="faqs-box__top">
        <button class="faqs-box__button" type="button">Популярные вопросы</button>
      </div>
      <div class="faqs-box__text">
        Ответов на вопросы <span>6</span>
      </div>
      <div class="faqs-box__content">
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а нарезают
            треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-faqs__box faqs-box">
      <div class="faqs-box__top">
        <button class="faqs-box__button" type="button">Популярные вопросы</button>
      </div>
      <div class="faqs-box__text">
        Ответов на вопросы <span>6</span>
      </div>
      <div class="faqs-box__content">
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а нарезают
            треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-faqs__box faqs-box">
      <div class="faqs-box__top">
        <button class="faqs-box__button" type="button">Популярные вопросы</button>
      </div>
      <div class="faqs-box__text">
        Ответов на вопросы <span>6</span>
      </div>
      <div class="faqs-box__content">
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а нарезают
            треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__control" type="button"> Почему круглую пиццу ставят в квадратную коробку, а
            нарезают треугольниками?</button>
          <div class="accordion__content">
            <p class="accodrion__text">
              - Потому что делают ее без соблюдения технологических процессов.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>