<section class="interesting">
  <div class="container">
    <h2 class="interesting__title section-title">Может быть интересно:</h2>
    <ul class="interesting__items">
      <li class="interesting__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/interesting/1.jpg" alt="Блог">
          </div>
          <time class="blog-card__date date" datetime="2020-05-28">28.05.2020</time>
          <h3 class="blog-card__title">
            <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
          </h3>
          <div class="blog-card__tags tags">
            <ul class="tags__list">
              <li class="tags__item">
                <a href="#" class="tags__link">про продукт</a>
              </li>
              <li class="tags__item">
                <a href="#" class="tags__link">теги</a>
              </li>
            </ul>
          </div>
          <div class="single-blog-card__text">
            <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
          </div>
        </article>
      </li>
      <li class="interesting__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/interesting/2.jpg" alt="Блог">
          </div>
          <time class="blog-card__date date" datetime="2020-05-28">28.05.2020</time>
          <h3 class="blog-card__title">
            <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
          </h3>
          <div class="blog-card__tags tags">
            <ul class="tags__list">
              <li class="tags__item">
                <a href="#" class="tags__link">про продукт</a>
              </li>
              <li class="tags__item">
                <a href="#" class="tags__link">теги</a>
              </li>
            </ul>
          </div>
          <div class="single-blog-card__text">
            <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
          </div>
        </article>
      </li>
      <li class="interesting__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/interesting/3.jpg" alt="Блог">
          </div>
          <time class="blog-card__date date" datetime="2020-05-28">28.05.2020</time>
          <h3 class="blog-card__title">
            <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
          </h3>
          <div class="blog-card__tags tags">
            <ul class="tags__list">
              <li class="tags__item">
                <a href="#" class="tags__link">про продукт</a>
              </li>
              <li class="tags__item">
                <a href="#" class="tags__link">теги</a>
              </li>
            </ul>
          </div>
          <div class="single-blog-card__text">
            <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>