<section class="about">
  <div class="container">
    <div class="about__row">
      <div class="about__info">
        <h2 class="about__title section-title">Комфорт в работе</h2>
        <ul class="about__list">
          <li class="about__item">Создавай документы по твоим личным привычным шаблонам. Это индивидуально!</li>
          <li class="about__item">Настраивай порядок подписание документа, если вас несколько человек. Это
            ответственно!</li>
          <li class="about__item">Загружай XML файл с собственным шаблоном готового документа. Это удобно!</li>
          <li class="about__item">Работай в супер простом и понятном интерфейсе без сложностей. Это приятно!</li>
        </ul>
        <button class="about__btn btn btn--bordered" type="button">Узнать больше</button>
      </div>
      <div class="about__preview">
        <img src="images/content/about/1.jpg" alt="Про нас">
      </div>
    </div>
    <div class="about__row about__row--reverse">
      <div class="about__preview">
        <img src="images/content/about/1.jpg" alt="Про нас">
      </div>
      <div class="about__info">
        <h2 class="about__title section-title">Наш продукт это:</h2>
        <ul class="about__list">
          <li class="about__item">Web версия без установки программного обеспечения</li>
          <li class="about__item">Возможность бесплатно и безлимитно обрабатывать входящие документы</li>
          <li class="about__item">Простота интеграции с 1С и другими сервисами</li>
          <li class="about__item">Поддержка входа через Mobile ID</li>
        </ul>
        <button class="about__btn btn" type="button">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</section>