<section class="faqs">
  <div class="container">
    <h2 class="faqs__title section-title">Популярные вопросы и ответы на них</h2>

    <div class="faqs__accordions">
      <div class="accordion">
        <button class="accordion__control" type="button"> Почему после ремонта дорога опять проваливается?</button>
        <div class="accordion__content">
          <p class="accodrion__text">
            - Потому что делают ее без соблюдения технологических процессов.
          </p>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" type="button"> Почему после ремонта дорога опять проваливается?</button>
        <div class="accordion__content">
          <p class="accodrion__text">
            - Потому что делают ее без соблюдения технологических процессов.
          </p>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" type="button"> Почему вода мокрая?</button>
        <div class="accordion__content">
          <p class="accodrion__text">
            - Потому что делают ее без соблюдения технологических процессов.
          </p>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" type="button">Видят ли микробы друг друга?</button>
        <div class="accordion__content">
          <p class="accodrion__text">
            - Потому что делают ее без соблюдения технологических процессов.
          </p>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" type="button"> Почему кровь красная а вены синие?</button>
        <div class="accordion__content">
          <p class="accodrion__text">
            - Потому что делают ее без соблюдения технологических процессов.
          </p>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" type="button">Из чего сделана радуга?</button>
        <div class="accordion__content">
          <p class="accodrion__text">
            - Потому что делают ее без соблюдения технологических процессов.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>