<section class="news">
  <div class="container">
    <h2 class="news__title section-title">Наши новости</h2>

    <ul class="news__items">
      <li class="news__item">
        <article class="news-card">
          <div class="news-card__img">
            <img src="images/content/news/1.jpg" alt="Новость 1">
          </div>
          <div class="news-card__info">
            <time class="news-card__date" datetime="2020-05-28">28.05.2020</time>
            <h3 class="news-card__title"><a href="#">Заголовок короткий в две строки</a></h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <div class="news-card__img">
            <img src="images/content/news/1.jpg" alt="Новость 1">
          </div>
          <div class="news-card__info">
            <time class="news-card__date" datetime="2020-05-28">28.05.2020</time>
            <h3 class="news-card__title"><a href="#">Заголовок короткий в две строки</a></h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <div class="news-card__img">
            <img src="images/content/news/1.jpg" alt="Новость 1">
          </div>
          <div class="news-card__info">
            <time class="news-card__date" datetime="2020-05-28">28.05.2020</time>
            <h3 class="news-card__title"><a href="#">Заголовок короткий в две строки</a></h3>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>