<section class="blog-grid">
  <div class="container">
    <h2 class="visually-hidden">Блог карточки</h2>

    <div class="blog-grid__wrapper">
      <div class="blog-grid__content">
        <ul class="blog-grid__filters">
          <li class="blog-grid__filter">
            <button class="blog-grid__button" type="button" data-filter="all">Все</button>
          </li>
          <li class="blog-grid__filter">
            <button class="blog-grid__button" type="button" data-filter=".news">новости</button>
          </li>
          <li class="blog-grid__filter">
            <button class="blog-grid__button" type="button" data-filter=".education">обучение</button>
          </li>
          <li class="blog-grid__filter">
            <button class="blog-grid__button" type="button" data-filter=".laws">законы</button>
          </li>
        </ul>

        <ul class="blog-grid__list">
          <li class="blog-grid__item mix laws">
            <article class="blog-card">
              <div class="blog-card__img">
                <img src="images/content/blog-page/blog-card/1.jpg" width="370" height="370" alt="Блог">
              </div>
              <time class="blog-card__date date" datetime="2020-05-28">05.03.2020</time>
              <h3 class="blog-card__title">
                <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
              </h3>
              <div class="blog-card__tags tags">
                <ul class="tags__list">
                  <li class="tags__item">
                    <a href="#" class="tags__link">про продукт</a>
                  </li>
                  <li class="tags__item">
                    <a href="#" class="tags__link">теги</a>
                  </li>
                </ul>
              </div>
              <div class="blog-card__text">
                <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
              </div>
            </article>
          </li>
          <li class="blog-grid__item mix laws">
            <article class="blog-card">
              <div class="blog-card__img">
                <img src="images/content/blog-page/blog-card/2.jpg" width="370" height="370" alt="Блог">
              </div>
              <time class="blog-card__date date" datetime="2020-05-28">28.05.2020</time>
              <h3 class="blog-card__title">
                <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
              </h3>
              <div class="blog-card__tags tags">
                <ul class="tags__list">
                  <li class="tags__item">
                    <a href="#" class="tags__link">про продукт</a>
                  </li>
                  <li class="tags__item">
                    <a href="#" class="tags__link">теги</a>
                  </li>
                </ul>
              </div>
              <div class="blog-card__text">
                <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
              </div>
            </article>
          </li>
          <li class="blog-grid__item mix education">
            <article class="blog-card">
              <div class="blog-card__img">
                <img src="images/content/blog-page/blog-card/3.jpg" width="370" height="370" alt="Блог">
              </div>
              <time class="blog-card__date date" datetime="2020-05-28">28.05.2020</time>
              <h3 class="blog-card__title">
                <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
              </h3>
              <div class="blog-card__tags tags">
                <ul class="tags__list">
                  <li class="tags__item">
                    <a href="#" class="tags__link">про продукт</a>
                  </li>
                  <li class="tags__item">
                    <a href="#" class="tags__link">теги</a>
                  </li>
                </ul>
              </div>
              <div class="blog-card__text">
                <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
              </div>
            </article>
          </li>
          <li class="blog-grid__item mix laws">
            <article class="blog-card">
              <div class="blog-card__img">
                <img src="images/content/blog-page/blog-card/1.jpg" width="370" height="370" alt="Блог">
              </div>
              <time class="blog-card__date date" datetime="2020-05-28">05.03.2020</time>
              <h3 class="blog-card__title">
                <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
              </h3>
              <div class="blog-card__tags tags">
                <ul class="tags__list">
                  <li class="tags__item">
                    <a href="#" class="tags__link">про продукт</a>
                  </li>
                  <li class="tags__item">
                    <a href="#" class="tags__link">теги</a>
                  </li>
                </ul>
              </div>
              <div class="blog-card__text">
                <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
              </div>
            </article>
          </li>
          <li class="blog-grid__item mix laws">
            <article class="blog-card">
              <div class="blog-card__img">
                <img src="images/content/blog-page/blog-card/2.jpg" width="370" height="370" alt="Блог">
              </div>
              <time class="blog-card__date date" datetime="2020-05-28">28.05.2020</time>
              <h3 class="blog-card__title">
                <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
              </h3>
              <div class="blog-card__tags tags">
                <ul class="tags__list">
                  <li class="tags__item">
                    <a href="#" class="tags__link">про продукт</a>
                  </li>
                  <li class="tags__item">
                    <a href="#" class="tags__link">теги</a>
                  </li>
                </ul>
              </div>
              <div class="blog-card__text">
                <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
              </div>
            </article>
          </li>
          <li class="blog-grid__item mix education">
            <article class="blog-card">
              <div class="blog-card__img">
                <img src="images/content/blog-page/blog-card/3.jpg" width="370" height="370" alt="Блог">
              </div>
              <time class="blog-card__date date" datetime="2020-05-28">28.05.2020</time>
              <h3 class="blog-card__title">
                <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
              </h3>
              <div class="blog-card__tags tags">
                <ul class="tags__list">
                  <li class="tags__item">
                    <a href="#" class="tags__link">про продукт</a>
                  </li>
                  <li class="tags__item">
                    <a href="#" class="tags__link">теги</a>
                  </li>
                </ul>
              </div>
              <div class="blog-card__text">
                <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
              </div>
            </article>
          </li>
          <li class="blog-grid__item mix laws">
            <article class="blog-card">
              <div class="blog-card__img">
                <img src="images/content/blog-page/blog-card/1.jpg" width="370" height="370" alt="Блог">
              </div>
              <time class="blog-card__date date" datetime="2020-05-28">05.03.2020</time>
              <h3 class="blog-card__title">
                <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
              </h3>
              <div class="blog-card__tags tags">
                <ul class="tags__list">
                  <li class="tags__item">
                    <a href="#" class="tags__link">про продукт</a>
                  </li>
                  <li class="tags__item">
                    <a href="#" class="tags__link">теги</a>
                  </li>
                </ul>
              </div>
              <div class="blog-card__text">
                <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
              </div>
            </article>
          </li>
          <li class="blog-grid__item mix laws">
            <article class="blog-card">
              <div class="blog-card__img">
                <img src="images/content/blog-page/blog-card/2.jpg" width="370" height="370" alt="Блог">
              </div>
              <time class="blog-card__date date" datetime="2020-05-28">28.05.2020</time>
              <h3 class="blog-card__title">
                <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
              </h3>
              <div class="blog-card__tags tags">
                <ul class="tags__list">
                  <li class="tags__item">
                    <a href="#" class="tags__link">про продукт</a>
                  </li>
                  <li class="tags__item">
                    <a href="#" class="tags__link">теги</a>
                  </li>
                </ul>
              </div>
              <div class="blog-card__text">
                <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
              </div>
            </article>
          </li>
          <li class="blog-grid__item mix education">
            <article class="blog-card">
              <div class="blog-card__img">
                <img src="images/content/blog-page/blog-card/3.jpg" width="370" height="370" alt="Блог">
              </div>
              <time class="blog-card__date date" datetime="2020-05-28">28.05.2020</time>
              <h3 class="blog-card__title">
                <a class="card__link" href="#">Burn Calories Quicker in 30 Min.</a>
              </h3>
              <div class="blog-card__tags tags">
                <ul class="tags__list">
                  <li class="tags__item">
                    <a href="#" class="tags__link">про продукт</a>
                  </li>
                  <li class="tags__item">
                    <a href="#" class="tags__link">теги</a>
                  </li>
                </ul>
              </div>
              <div class="blog-card__text">
                <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности</p>
              </div>
            </article>
          </li>
        </ul>
      </div>

      <div class="blog-grid__pagination">
        <div class="pagination">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="#">01</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">02</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">03</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">04</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link pagination__link--next" href="#">
                <span class="text">дальше</span>
                <span class="icon"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>