<section class="video-grid">
  <div class="container">
    <h2 class="video-grid__title section-title">Видео инструкции</h2>

    <ul class="video-grid__items">
      <li class="video-grid__item video-grid__item--big">
        <article class="video-card">
          <h3 class="video-card__title">
            <a href="#">Название видео инструкции</a>
          </h3>
          <time class="video-card__date date" datetime="2020-05-28">28.05.2020</time>
          <div class="video-card__img">
            <img src="images/content/video-page/1.jpg" alt="Лого">
            <button class="video-card__play" type="button" aria-label="Смотреть видео">
              <svg>
                <use xlink:href="images/sprite.svg#triangle"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="video-grid__item">
        <article class="video-card">
          <div class="video-card__img">
            <img src="images/content/video-page/2.jpg" alt="Лого">
            <button class="video-card__play" type="button" aria-label="Смотреть видео">
              <svg>
                <use xlink:href="images/sprite.svg#triangle"></use>
              </svg>
            </button>
          </div>
          <h3 class="video-card__title">
            <a href="#">Burn Calories Quicker in 30 Min.</a>
          </h3>
          <time class="video-card__date date" datetime="2020-05-28">28.05.2020</time>
        </article>
      </li>
      <li class="video-grid__item">
        <article class="video-card">
          <div class="video-card__img">
            <img src="images/content/video-page/3.jpg" alt="Лого">
            <button class="video-card__play" type="button" aria-label="Смотреть видео">
              <svg>
                <use xlink:href="images/sprite.svg#triangle"></use>
              </svg>
            </button>
          </div>
          <h3 class="video-card__title">
            <a href="#">Burn Calories Quicker in 30 Min.</a>
          </h3>
          <time class="video-card__date date" datetime="2020-05-28">28.05.2020</time>

        </article>
      </li>
      <li class="video-grid__item">
        <article class="video-card">
          <div class="video-card__img">
            <img src="images/content/video-page/4.jpg" alt="Лого">
            <button class="video-card__play" type="button" aria-label="Смотреть видео">
              <svg>
                <use xlink:href="images/sprite.svg#triangle"></use>
              </svg>
            </button>
          </div>
          <h3 class="video-card__title">
            <a href="#">Burn Calories Quicker in 30 Min.</a>
          </h3>
          <time class="video-card__date date" datetime="2020-05-28">28.05.2020</time>
        </article>
      </li>
      <li class="video-grid__item">
        <article class="video-card">
          <div class="video-card__img">
            <img src="images/content/video-page/5.jpg" alt="Лого">
            <button class="video-card__play" type="button" aria-label="Смотреть видео">
              <svg>
                <use xlink:href="images/sprite.svg#triangle"></use>
              </svg>
            </button>
          </div>
          <h3 class="video-card__title">
            <a href="#">Burn Calories Quicker in 30 Min.</a>
          </h3>
          <time class="video-card__date date" datetime="2020-05-28">28.05.2020</time>
        </article>
      </li>
    </ul>
  </div>
</section>